/* 481  */
@media only screen and (max-width:481px){
    .team .card{
        /* flex-direction: row; */
        flex-wrap: wrap;
        width: 80%;
        margin: 0 auto;
    
    
    }
    .team .boxx{
        width: 100%;
        margin: 2rem auto;
        margin: 0 ;
    }
.contact .right-box{
    width: 100%;
}
    
}